* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "Inter", sans-serif;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.main {
    width: 360px;
    height: 640px;
    border: solid 1px #ccc;
    border-radius: 0 0 24px 24px;
    margin: 0 auto;
}
