@use "sass:map";
@import "./lunesui.scss";

// Default
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: $font-family-base, sans-serif !important;
}

// Theming
.light {
    background-color: $color-neutral-0;
    color: $color-neutral-900;
}

.dark {
    background-color: black;
    color: white;
}

.main {
    width: 360px;
    height: 640px;
    border: solid 1px #ccc;
    margin: 0 auto;
    position: relative;
}

// Components
.header {
    width: 100%;
    height: 72px;
    padding: $spacing-squish-nano;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: $shadow-level-1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gesture-button {
    background-color: $color-neutral-900;
    position: absolute;
    bottom: 6px;
    left: calc(50% - 36px);
    width: 72px;
    height: 3px;
    border-radius: 5px;
}

.select {
    border: none;
    color: $color-themeColor-100;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    width: 50px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../assets/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}

.select:active {
    background-image: url(../assets/images/arrow-up.svg);
}
