* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: linear 0.2s;
}

body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif !important;
}

.light {
  background-color: #ffffff;
  color: #060203;
}

.dark {
  background-color: black;
  color: white;
}

.main {
  width: 360px;
  height: 580px;
  border: solid 1px #ccc;
  margin: 0 auto;
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.header {
  width: 100%;
  height: 72px;
  padding: 8px 16px;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-header {
  width: 100%;
  padding: 18.82px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.select {
  border: none;
  outline: none;
  font-size: 0.9rem;
  background-color: transparent;
  width: 50px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../assets/images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  color: inherit;
  cursor: pointer;
}
.select option {
  color: #000000;
}

.select:active {
  background-image: url(../assets/images/arrow-up.svg);
}

.input-text-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  position: relative;
}

.input-label {
  font-size: 0.9rem;
  color: #1a1a1a;
  font-weight: 500;
}

.input-text {
  width: 100%;
  padding: 17px 16px;
  background-color: #f9f9f9;
  border-radius: 16px;
  border: none;
  color: #8a8a8e;
  margin-top: 6px;
  font-size: 0.89rem;
  line-height: 100%;
}
.input-text::placeholder {
  color: #8a8a8e;
}
.input-text:focus {
  outline: solid 1px #6c38ff;
}

.password-visibility-switch {
  padding: 2px 3px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 38px;
  border-radius: 50%;
}
.password-visibility-switch:active {
  opacity: 0.33;
  background-color: #000000;
}

.gesture-button {
  background-color: #060203;
  position: absolute;
  bottom: 6px;
  left: calc(50% - 36px);
  width: 72px;
  height: 3px;
  border-radius: 5px;
}

.title-h1 {
  font-family: "Space Grotesk";
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 125%;
  color: #1a1a1a;
}

.paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #8a8a8e;
}

.container-main {
  width: 100%;
  height: 100%;
  padding: 16px;
  position: relative;
}

.welcome {
  width: 100%;
  height: 100%;
  position: relative;
}
.welcome .hero {
  width: 100%;
  padding: 24px 16px 0;
  background-color: #f9f9f9;
}
.welcome .hero > .title-h1 {
  margin: 24px 0;
}
.welcome .hero > :nth-child(1) {
  font-size: 1.1rem;
}
.welcome .button-hold {
  width: 100%;
  padding: 16px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.welcome::after {
  content: "";
  width: 100%;
  background-image: url(../assets/images/illustrations/girl-with-smartphone.jpg);
  height: 184px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.button-component {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Inter";
  font-weight: bold;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 0.9rem;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  transition: linear 0.2s;
}
.button-component:active {
  transform: translateY(2px);
  transition: linear 0.2s;
}
.button-component.primary {
  background-color: #6c38ff;
}

.password-input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.password-input-box > :nth-child(3) {
  margin-top: 15px;
}

.password-logo {
  margin-top: 78px;
  width: 100px;
}

.terms-advice {
  margin-top: 70px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.89rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #1a1a1a;
  opacity: 0.8;
}
.terms-advice .a {
  color: #6c38ff;
}

.modal-container {
  height: 580px;
}

/*# sourceMappingURL=index.css.map */
