// Colors
$color-primary-100: #e5d7ff;
$color-primary-200: #caafff;
$color-primary-300: #ad87ff;
$color-primary-400: #9469ff;
$color-primary-500: #6c38ff;
$color-primary-600: #5228db;
$color-primary-700: #3c1cb7;
$color-primary-800: #291193;
$color-primary-900: #1b0a7a;

$color-success-100: #d3fcd7;
$color-success-200: #a8fab9;
$color-success-300: #7af09e;
$color-success-400: #57e290;
$color-success-500: #26d07c;
$color-success-600: #1bb277;
$color-success-700: #13956f;
$color-success-800: #0c7863;
$color-success-900: #07635b;

$color-warning-100: #feebcb;
$color-warning-200: #fed198;
$color-warning-300: #feb165;
$color-warning-400: #fe923f;
$color-warning-500: #fe5f00;
$color-warning-600: #da4400;
$color-warning-700: #b62e00;
$color-warning-800: #931c00;
$color-warning-900: #790f00;

$color-critical-100: #ffdcd3;
$color-critical-200: #ffb2a9;
$color-critical-300: #ff807e;
$color-critical-400: #ff5d69;
$color-critical-500: #ff284c;
$color-critical-600: #db1d4e;
$color-critical-700: #b7144e;
$color-critical-800: #930c49;
$color-critical-900: #7a0746;

$color-neutral-0: #ffffff;
$color-neutral-100: #f2f2f2;
$color-neutral-200: #e6e6e6;
$color-neutral-300: #b6b6b6;
$color-neutral-400: #6d6d6d;
$color-neutral-500: #0d0d0d;
$color-neutral-600: #0b0909;
$color-neutral-700: #090607;
$color-neutral-800: #070405;
$color-neutral-900: #060203;

$color-themeColor-100: #1a1a1a;
$color-themeColor-200: #8a8a8e;
$color-themeColor-300: #c4c4c6;
$color-themeColor-400: #dcdcdd;
$color-themeColor-500: #ffffff;
$color-themeColor-600: #f9f9f9;
$color-themeColor-700: #ffffff;
$color-themeColor-800: #6c38ff;

// Fonts
$font-family-brand: "Space Grotesk";
$font-family-base: "Inter";
$font-size-xxxs: 0.9rem;
$font-size-xxs: 1rem;
$font-size-xs: 16px;
$font-size-sm: 18px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 56px;

$font-weight-thin: thin;
$font-weight-extralight: extralight;
$font-weight-light: light;
$font-weight-regular: 500;
$font-weight-medium: medium;
$font-weight-semibold: semibold;
$font-weight-bold: bold;
$font-weight-extrabold: extrabold;
$font-weight-black: black;

$font-line-height-height: 100%;
$font-line-height-compact: 125%;
$font-line-height-far: 150%;
$font-line-height-further: 200%;

$font-letterspacing-none: 0%;

// Spacing
$spacing-squish-nano: 8px 16px;
$spacing-squish-xs: 24px 16px;

// Shadow
$shadow-level-1: 0px 4px 8px rgba(0, 0, 0, 0.02);
